.rotate-180 {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.not-rotated {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}

.rotated {
    -webkit-animation:spin 3s linear infinite;
    -moz-animation:spin 3s linear infinite;
    animation:spin 3s linear infinite;
}
@-moz-keyframes spin {
    100% { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform:rotate(360deg);
    }
}

::-webkit-scrollbar {
    width: 12px;
    height: 8px;
    background-color: #f9fdfb;
    transition: 1s all;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(transparent, #b1c2d9);
    border-radius: 6px;
    border-radius: 20px;
    transition: 1s all;
}
